.container {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 1.2;
    font-weight: 200;
    text-align: left;
    letter-spacing: -0.03em;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 10vw;
}
