.container {
  font-family: "Nunito", medium-content-serif-font, Georgia, Cambria,
    "Times New Roman", Times, serif;
  font-weight: 200;
  text-align: left;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 10vw;
}

.content {
  margin: 2vw 10vw;
}

.separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 30vw;
  margin: 10px;
}
.content > code {
  font-size: 10pt;
}
