.exhibit {
  background: white;
  width: 100%;
  min-height: 60vh;
  height: 70vh;
  max-height: 90vh;
  border: none;
  mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  box-shadow: 0 3px 3px rgb(15, 15, 15);
}
.wrapper {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-snap-align: start;
  height: 100%;
}
@media (min-width: 768px) {
  .wrapper {
    margin: 7em;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 1em;
  }
}
.info {
  font-family: "Open Sans", sans-serif;
  margin: 1em 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}
.subtitle {
  font-weight: 200;
  font-size: 9pt;
}

.date {
  font-size: 9pt;
  color: #ddd;
}

.subtitle::before {
  content: "\201C";
}
.subtitle::after {
  content: "\201D";
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 9pt;
  color: #ddd;
}
.link > a {
  color: #ddd;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 0.2em;
}
.link > svg {
  width: 1em;
  vertical-align: middle;
}
.link:hover {
  transform: scale(1.1);
}
