.content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.fakecontent {
    height: 100vh;
    scroll-snap-align: start;
    opacity: 0;
    z-index: -1;
}
