@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Source Sans Pro", sans-serif;
}
canvas {
  position: fixed;
  z-index: -1;
}
body {
  display: unset;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -2; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(/res/profile-20.jpg);
  filter: blur(200px);
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ff6363;
    --primary-color-transparent: rgba(255, 0, 0, 0.2);
    --hard-text: #323232;
    --soft-text: #525252;
    --background-color: #ffffff;
    --background-color-2: #fbf8f5;
    --lighter-color: lightgray;
  }
  .background-image {
    opacity: 0.2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #39637e;
    --primary-color-transparent: #39637e;
    --background-color: #1e1e1e;
    --background-color-2: #2e2e2e;
    --hard-text: #dedede;
    --soft-text: #adadad;
    --lighter-color: #444;
  }
  .background-image {
    opacity: 0.1;
    filter: blur(200px) hue-rotate(180deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

nav {
  position: relative;
  color: var(--hard-text);
  font-weight: bold;
  padding: calc(min(5vw, 1.5rem));
}

nav > .links {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.nav-logo {
  font-size: 18pt;
}

@media only screen and (min-width: 700px) {
  .link {
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
    color: var(--hard-text);
    margin: 2rem;
  }

  .link:last-child {
    border: none;
  }
}
@media only screen and (max-width: 699px) {
  .profile-figure {
    max-width: 80%;
    min-width: unset;
  }
  .title,
  .tagline {
    text-align: center;
  }
  .link {
    display: block;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: none;
    color: var(--hard-text);
    padding: 4rem 1.5rem;
    border-bottom: 1px solid var(--lighter-color);
  }
}

.active {
  border-bottom: 1px solid var(--hard-text);
}
